Playbooks/Remove_sensitive_file_sharing_after_requesting_user.json
{
  "properties": {
    "categoryNames": [],
    "displayName": "MCAS - Remove sensitive file sharing after requesting user",
    "summary": "MCAS - Remove sensitive file sharing after requesting user",
    "description": "MCAS - Remove sensitive file sharing after requesting user",
    "author": {
      "displayName": "Microsoft Cloud App Security CxE",
      "source": "community"
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_alert_is_generated": {
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "MCAS_ON_ALERT_GENERATED"
            }
          },
          "type": "ApiConnectionWebhook",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_cloudappsecurity']['connectionId']"
              }
            },
            "body": {
              "callback_url": "@{listCallbackUrl()}"
            },
            "path": "/cas/api/v1/ms_flow/",
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_mcasTenant": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "mcasTenant",
                "type": "String",
                "value": "https://YOUR-TENANT.portal.cloudappsecurity.com"
              }
            ]
          }
        },
        "Ask_user_validation": {
          "runAfter": {
            "Scope_Collect_file_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "SendMailWithOptions"
            }
          },
          "type": "ApiConnectionWebhook",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_office365']['connectionId']"
              }
            },
            "body": {
              "NotificationUrl": "@{listCallbackUrl()}",
              "Message": {
                "To": "@body('Get_user_mail_address')?['mail']",
                "Subject": "WARNING: Sensitive file external sharing detected !",
                "Options": "Keep , Remove sharing, Remove external users",
                "SelectionText": "Do you want to keep the sharing for this file ?",
                "Body": "Dear @{body('Get_user_mail_address')?['displayName']}, <br><br>\n\nOur system detected that you just shared a sensitive file externally: <br>\n<font size=\"3\" color=\"blue\"><b>@{variables('fileName')}</b></font>\n<br><b>File path</b>: <a href=\"@{variables('filePath')}\">@{variables('filePath')}</a>\n<br><b>Access level</b>: @{body('Parse_file_JSON')?['data'][0]['fileAccessLevel'][1]}\n<br><b>DLP policy</b>: @{triggerBody()?['ProviderPolicyId']}\n <br><br>\n\nSensitive files should be shared with <b>extra care</b>. Can you please confirm that you fully understand and that this sharing is compliant with our company policies ?<br> \nIf you select <b>\"Remove sharing\"</b>, all the sharings to this file will be removed.<br><br>\nBest regards,\n<br><br>\nYour IT department",
                "Importance": "High",
                "UseOnlyHTMLMessage": true
              }
            },
            "path": "/mailwithoptions/$subscriptions",
            "authentication": "@parameters('$authentication')"
          }
        },
        "Switch_user_answer": {
          "runAfter": {
            "Ask_user_validation": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case_Keep": {
              "case": "Keep",
              "actions": {
                "Resolve_Cloud_App_Security_alert_Keep": {
                  "runAfter": {},
                  "metadata": {
                    "flowSystemMetadata": {
                      "swaggerOperationId": "MCAS_RESOLVE_ALERT"
                    }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['shared_cloudappsecurity']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "filters": {
                        "id": {
                          "eq": [
                            "@triggerBody()?['ProviderAlertId']"
                          ]
                        }
                      },
                      "comment": "User @{body('Get_user_mail_address')?['userPrincipalName']} confirmed that he/she shared externally on purpose"
                    },
                    "path": "/cas/api/v1/alerts/resolve/",
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Confirm_alert_closed": {
                  "runAfter": {
                    "Resolve_Cloud_App_Security_alert_Keep": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "flowSystemMetadata": {
                      "swaggerOperationId": "SendEmailV2"
                    }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['shared_office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "@{body('Get_user_mail_address')?['mail']};;",
                      "Subject": "Alert resolution confirmation",
                      "Body": "<p>Dear @{body('Get_user_mail_address')?['displayName']},&lt;br&gt;&lt;br&gt;<br>\n<br>\nWe confirm that based on your answer we closed out alert.&lt;br&gt;&lt;br&gt;<br>\n<br>\nBest regards,&lt;br&gt;<br>\nYour IT department</p>"
                    },
                    "path": "/v2/Mail",
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_Remove_sharing": {
              "case": "Remove sharing",
              "actions": {
                "Switch_Governance_per_app": {
                  "runAfter": {},
                  "cases": {
                    "Case_App_is_Box": {
                      "case": 10489,
                      "actions": {
                        "Governance_remove_sharing_link": {
                          "runAfter": {},
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{variables('mcasTenant')}/cas/api/v1/files/bulk_governance/",
                            "headers": {
                              "Authorization": "token @{variables('token')}"
                            },
                            "body": {
                              "task_name": "RemoveSharedLinkFileTask",
                              "entities": [
                                {
                                  "id": "@{variables('fileID')}",
                                  "appId": "@int(variables('appID'))"
                                }
                              ],
                              "params": null
                            },
                            "retryPolicy": {
                              "type": "fixed",
                              "count": 50,
                              "interval": "PT2M"
                            }
                          },
                          "description": "RemoveSharedLinkFileTask"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Governance_make_private": {
                        "runAfter": {},
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "@{variables('mcasTenant')}/cas/api/v1/files/bulk_governance/",
                          "headers": {
                            "Authorization": "token @{variables('token')}"
                          },
                          "body": {
                            "task_name": "RemoveEveryoneFileTask",
                            "entities": [
                              {
                                "id": "@{variables('fileID')}",
                                "appId": "@int(variables('appID'))"
                              }
                            ],
                            "params": null
                          },
                          "retryPolicy": {
                            "type": "fixed",
                            "count": 50,
                            "interval": "PT2M"
                          }
                        },
                        "description": "body('Parse_file_JSON')?['_id']"
                      }
                    }
                  },
                  "expression": "@int(body('Parse_file_JSON')?['data'][0]['saasId'])",
                  "type": "Switch"
                },
                "Confirm_make_private": {
                  "runAfter": {
                    "Resolve_Cloud_App_Security_alert__Remove_sharing": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "flowSystemMetadata": {
                      "swaggerOperationId": "SendEmailV2"
                    }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['shared_office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "@{body('Get_user_mail_address')?['mail']};",
                      "Subject": "Governance action complete",
                      "Body": "<p>Dear @{body('Get_user_mail_address')?['displayName']},<br>\n<br>\nFollowing your validation, we removed all sharings from your file:&nbsp;@{variables('fileName')}<br>\n<br>\nBest regards,<br>\n<br>\nYour IT department</p>"
                    },
                    "path": "/v2/Mail",
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Resolve_Cloud_App_Security_alert__Remove_sharing": {
                  "runAfter": {
                    "Switch_Governance_per_app": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "flowSystemMetadata": {
                      "swaggerOperationId": "MCAS_RESOLVE_ALERT"
                    }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['shared_cloudappsecurity']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "filters": {
                        "id": {
                          "eq": [
                            "@triggerBody()?['ProviderAlertId']"
                          ]
                        }
                      },
                      "comment": "Resolved after requesting user validation ("
                    },
                    "path": "/cas/api/v1/alerts/resolve/",
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_Remove_external_users": {
              "case": "Remove external users",
              "actions": {
                "Governance_remove_external_users": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{variables('mcasTenant')}/cas/api/v1/files/bulk_governance/",
                    "headers": {
                      "Authorization": "token @{variables('token')}"
                    },
                    "body": {
                      "task_name": "RemoveExternalFileTask",
                      "entities": [
                        {
                          "id": "@{variables('fileID')}",
                          "appId": "@int(variables('appID'))"
                        }
                      ],
                      "params": null
                    },
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 50,
                      "interval": "PT2M"
                    }
                  }
                },
                "Confirm_remove_external_users": {
                  "runAfter": {
                    "Resolve_Cloud_App_Security_alert_Remove_external_sharing": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "flowSystemMetadata": {
                      "swaggerOperationId": "SendEmailV2"
                    }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['shared_office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "@{body('Get_user_mail_address')?['mail']};",
                      "Subject": "Governance action complete",
                      "Body": "<p>Dear @{body('Get_user_mail_address')?['displayName']},<br>\n<br>\nFollowing your validation, we removed external users from your file sharing:&nbsp;@{variables('fileName')}<br>\n<br>\nBest regards,<br>\n<br>\nYour IT department</p>"
                    },
                    "path": "/v2/Mail",
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Resolve_Cloud_App_Security_alert_Remove_external_sharing": {
                  "runAfter": {
                    "Governance_remove_external_users": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "flowSystemMetadata": {
                      "swaggerOperationId": "MCAS_RESOLVE_ALERT"
                    }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['shared_cloudappsecurity']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "filters": {
                        "id": {
                          "eq": [
                            "@triggerBody()?['ProviderAlertId']"
                          ]
                        }
                      },
                      "comment": "Resolved after requesting user validation ()"
                    },
                    "path": "/cas/api/v1/alerts/resolve/",
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@body('Ask_user_validation')?['SelectedOption']",
          "type": "Switch"
        },
        "Initialize_fileID": {
          "runAfter": {
            "Initialize_token": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileID",
                "type": "String"
              }
            ]
          }
        },
        "Get_user_mail_address": {
          "runAfter": {
            "Parse_alert": [
              "Succeeded"
            ]
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "UserProfile_V2"
            }
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_office365users']['connectionId']"
              }
            },
            "method": "get",
            "path": "/codeless/v1.0/users/@{encodeURIComponent(triggerBody()?['CompromisedEntity'])}",
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_fileName": {
          "runAfter": {
            "Initialize_fileID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileName",
                "type": "String"
              }
            ]
          }
        },
        "Get_alert_details": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "@{variables('mcasTenant')}/cas/api/v1/alerts/@{triggerBody()?['ProviderAlertId']}/",
            "headers": {
              "Authorization": "token @{variables('token')}"
            },
            "retryPolicy": {
              "type": "fixed",
              "count": 50,
              "interval": "PT2M"
            }
          }
        },
        "Initialize_appID": {
          "runAfter": {
            "Initialize_fileName": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "appID",
                "type": "String"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_appID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "filePath",
                "type": "String"
              }
            ]
          }
        },
        "Initialize_token": {
          "runAfter": {
            "Initialize_mcasTenant": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "token",
                "type": "string",
                "value": "MCAS-API-TOKEN"
              }
            ]
          }
        },
        "Parse_alert": {
          "runAfter": {
            "Get_alert_details": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_alert_details')",
            "schema": {
              "type": "object",
              "properties": {
                "isSystemAlert": {},
                "contextId": {},
                "description": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "URL": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "integer"
                },
                "threatScore": {
                  "type": "integer"
                },
                "entities": {
                  "type": "array",
                  "items": {}
                },
                "statusValue": {
                  "type": "integer"
                },
                "idValue": {
                  "type": "integer"
                },
                "stories": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "policy": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "msFlowId": {
                      "type": "string"
                    },
                    "policyType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                },
                "severityValue": {
                  "type": "integer"
                },
                "_id": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Scope_Collect_file_details": {
          "actions": {
            "Select_files_entities": {
              "runAfter": {},
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_alert')?['entities']",
                "where": "@equals(item()?['type'], 'file')"
              },
              "description": "item()?['type']"
            },
            "Set_fileID": {
              "runAfter": {
                "Select_files_entities": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "fileID",
                "value": "@{body('Select_files_entities')?[0]?['id']}"
              }
            },
            "Get_file_details": {
              "runAfter": {
                "Set_fileID": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{variables('mcasTenant')}/cas/api/v1/files/",
                "headers": {
                  "Authorization": "token @{variables('token')}"
                },
                "body": {
                  "filters": {
                    "fileId": {
                      "eq": [
                        "@{variables('fileID')}"
                      ]
                    }
                  }
                },
                "retryPolicy": {
                  "type": "fixed",
                  "count": 50,
                  "interval": "PT2M"
                }
              }
            },
            "Parse_file_JSON": {
              "runAfter": {
                "Get_file_details": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_file_details')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mimeType": {
                            "type": "string"
                          },
                          "unseenScans": {
                            "type": "integer"
                          },
                          "parentIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "instId": {
                            "type": "integer"
                          },
                          "siteCollectionId": {
                            "type": "string"
                          },
                          "appId": {
                            "type": "integer"
                          },
                          "isFolder": {
                            "type": "boolean"
                          },
                          "fileAccessLevel": {
                            "type": "array"
                          },
                          "lastGlobalMatchDate": {
                            "type": "string"
                          },
                          "ownerName": {},
                          "_tid": {
                            "type": "integer"
                          },
                          "noGovernance": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "snapshotLastModifiedDate": {
                            "type": "string"
                          },
                          "fileType": {
                            "type": "array"
                          },
                          "appName": {
                            "type": "string"
                          },
                          "fTags": {
                            "type": "array"
                          },
                          "display_collaborators": {
                            "type": "array"
                          },
                          "saasId": {
                            "type": "integer"
                          },
                          "sitePath": {
                            "type": "string"
                          },
                          "filePath": {
                            "type": "string"
                          },
                          "cabinetMatchedRuleVersions": {
                            "type": "array"
                          },
                          "spDomain": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "integer"
                          },
                          "ownerExternal": {
                            "type": "boolean"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name_l": {
                            "type": "string"
                          },
                          "collaborators": {
                            "type": "array"
                          },
                          "ownerAddress": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "alternateLink": {
                            "type": "string"
                          },
                          "originalId": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "modifiedDate": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "appId",
                          "isFolder",
                          "_tid",
                          "appName",
                          "_id"
                        ]
                      }
                    },
                    "moreThanTotal": {
                      "type": "boolean"
                    },
                    "max": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "Set_fileName": {
              "runAfter": {
                "Parse_file_JSON": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "fileName",
                "value": "@{body('Parse_file_JSON')?['data'][0]['name']}"
              },
              "description": "body('Parse_file_JSON')?['data'][0]['name']"
            },
            "Set_filePath": {
              "runAfter": {
                "Set_fileName": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "filePath",
                "value": "@{body('Parse_file_JSON')?['data'][0]['alternateLink']}"
              }
            },
            "Set_mcas_fileID": {
              "runAfter": {
                "Set_filePath": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "fileID",
                "value": "@{body('Parse_file_JSON')?['data'][0]['_id']}"
              },
              "description": "body('Parse_file_JSON')?['data'][0]['_id']"
            },
            "Set_appID": {
              "runAfter": {
                "Set_mcas_fileID": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "appID",
                "value": "@{int(body('Parse_file_JSON')?['data'][0]['appId'])}"
              },
              "description": "body('Parse_file_JSON')?['data'][0]['appId']"
            }
          },
          "runAfter": {
            "Get_user_mail_address": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "connectionReferences": {
      "shared_office365": {
        "api": {
          "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
        },
        "source": "NotSpecified",
        "connectionNamingMode": "NotSpecified"
      },
      "shared_cloudappsecurity": {
        "api": {
          "id": "/providers/Microsoft.PowerApps/apis/shared_cloudappsecurity"
        },
        "source": "NotSpecified",
        "connectionNamingMode": "NotSpecified"
      },
      "shared_office365users": {
        "api": {
          "id": "/providers/Microsoft.PowerApps/apis/shared_office365users"
        },
        "source": "NotSpecified",
        "connectionNamingMode": "NotSpecified"
      }
    }
  }
}
